* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1000;
}

body {
  padding: 0 80px;
}

.name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 15px;
}

img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.description {
  flex: 1;
  display: grid;
  gap: 15px;
}

.order-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 20px;
  width: 40%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}

.harga{
    font-size: 20px;
}

.date {
  border-radius: 15px;
  width: 80%;
  height: 30px;
  text-align: center;
}

button{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    background-color: blue;
    color: #fff;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

button:hover{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(38, 38, 201);
    color: #000000;
    font-weight: 100;
    border: none;
}

.alert{
    color: #949494;
}

#total-price{
    color: red;
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}
