*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAVBAR 1 */

#navbar1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    z-index: 1000;
}

#navbar1 .logo{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    flex-shrink: 0;
}

/* START BUTTON */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
/* END BUTTON */

/* START POPUP */

.popup {
    display: none;
    position: absolute;
    z-index: 1000;
    right: 20px;
    top: 100%; 
    margin-top: 10px; 
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 200px; 
    border-radius: 25px;
}


.popup-content {
    display: grid;
    row-gap: 20px;
}

.popup-content a{
    text-decoration: none;
    color: rgb(168, 168, 168);
}

.popup-content a:hover{
    color: #000;
    transition: 0.2s;

}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* END POPUP */


#navbar1 ul{
    display: flex;
    list-style: none;
    padding-inline: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#navbar1 ul li{
    margin: 0 20px;
}

#navbar1 ul li a{
    gap: 30px;
    text-decoration: none;
    color: rgb(168, 168, 168);
    padding: 10px;
    border-radius: 15px;
}

#navbar1 ul li a:hover{
    color: #000;
    padding: 10px;
    background-color: #ccccccc5;
    border-radius: 15px;
    transition: 0.7s;
}

.sidebar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar a{
    margin: 0;
    text-decoration: none;
}

.sidebar button{
    cursor: pointer;
}


/* NAVBAR 2 */
#navbar2{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    border-top:1px solid rgba(231, 231, 231, 0.911);

}
#navbar2 ul{
    display: flex;
    list-style: none;
    padding-inline: 20px;
    position: absolute;
}

#navbar2 ul li {
    padding-top: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#navbar2 ul li:hover {
    transform: scale(1.1);
    transition: 0.4s;
    font-weight: bold;
}

/* FORM REGISTER START */


.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20px;
    width: 100%;
    background-color: rgba(116, 116, 116, 0.747);
    z-index: 2000;
}

form{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: #fff;
    padding:20px 30px;
    text-align: center;
}

.form-login{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input{
    margin: 10px;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px 20px;
    width: 20em;
    border: 1px solid #797979;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.register-link{
    font-size: small;
}

.btn-form{
    border: transparent;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: hsl(206, 100%, 69%);
    color: white;
    margin: 15px;
    width: 160px;
}

.btn-form:hover{
    background-color: #76a0cf;
}

/* FORM REGISTER END */


/* MAIN */

main{
    margin: 85px 20px 0 20px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 20px;
}

.item-card {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-card img {
    width: 100%;
    border-radius: 10px;
}

/* .item-card h3 {
    margin-top: 5px;
}

.item-card p {
    margin: 5px 0;
} */

.item-card .price {
    color: #e91e63;
}


.item-card .location {
    color: #757575;
}

/* MAIN END*/

footer{
    display: flex;
    bottom: 0;
    width: 100%;
    height:50px;
    align-items: center;
    justify-content: center;
}



